.productDetailCard {
  border-radius: 20px;
  border: 1px solid var(--e-5-be-69, #e5be69);
  background: #fafbf9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 30px;
}
.productDetailCardPrice {
  position: absolute;
  top: 5px;
  right: 0;
  color: #ab783e;
  font-weight: bolder;
}
.productDetailTitle {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
.productDetailCardDescription {
  font-size: 14px;
}
.productDetailCardBtn {
  border-radius: 10px;
  background: #e5be69;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

.productDetailCardBtn:hover {
  background: #d3aa5c;
  /* Adjust the color for the hover effect if desired */
}

.productDetailCardBtn:focus {
  outline: none;
  box-shadow: none;
}
