.card{
    border: none !important;
    background: #FAFBF9 !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
    border-radius: 20px !important;
}
.cardsWrapper .card .imgWrapper{
    border-radius: 20px;
}
.card-img-top{
    width: 100% !important;
    height: 200px !important;
    border-radius: 20px !important;
    object-fit: cover;
}
.cardTitle{

font-style: normal;
font-weight: 700;
font-size: 16px;

}
.cardPrice{
    font-size: 16px;
    font-weight: 800;
color: #AB783E;
}
.cardText{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-align: justify;
}
.btnAddToBucket{
    background: #E5BE69;
    border-radius: 10px;
    width: 100%;
}
.btnAddToBucket:hover{
    background: #1F1A17;
    color: #E5BE69;
    -webkit-transform: translateY(-0.2rem) !important;
  transform: translateY(-0.2rem) !important;
}