
:root {
    --primary-color: #1F1A17 ;
    }
.logo{
    width: 60px;
    height: 60px;
}
.btnLocation{
border-radius: 21px !important;
background-color: #E5BE691A;
color: #F1F8F9;
height: 40px;

}
.btnLocation:hover{
    background-color: #E5BE691A ;
    color: #F1F8F9 ;
    -webkit-transform: translateY(-0.2rem) !important;
  transform: translateY(-0.2rem) !important;
}
.btnLocation:active{
    background-color: #E5BE691A !important;
    color: #F1F8F9 !important;
    border-color: #E5BE69 !important;
}
.btnSignIn{
    background-color: #E5BE69;
    color: var(--primary-color);
    border-radius: 21px !important;
}
.btnSignIn:hover{
    background-color: var(--primary-color);
    color: #E5BE69;
    border-color: #E5BE69;
    -webkit-transform: translateY(-0.2rem) !important;
  transform: translateY(-0.2rem) !important;
}

.btnSignIn:active{
    background-color: #E5BE691A !important;
    color: #F1F8F9 !important;
    border-color: #E5BE69 !important;
}
.btnDelivery{
    border-top-left-radius: 21px !important;
    border-bottom-left-radius: 21px !important;
    border-color: #E5BE69 !important;
    color: #E5BE69 !important;
}
.btnPickUp{
    border-top-right-radius: 21px !important;
    border-bottom-right-radius: 21px !important;
    border-color: #E5BE69 !important;
    color: #E5BE69 !important;
}
.btn-check+.btn:hover{
    background-color: #E5BE69 !important;
    color: var(--primary-color) !important;
    border-color: #E5BE69 !important; 
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #E5BE69 !important;
    color: var(--primary-color) !important;
    border-color: #E5BE69 !important;    
}
.navbar-toggler-icon{
    filter: invert(1) ;
}
.btnBucket{
    transition: .4s all ease;
}
.btnBucket:hover{
    -webkit-transform: translateY(-0.2rem) !important;
  transform: translateY(-0.2rem) !important;
}
.btnBucket.onSmallScreen{
    display: none;
}

/* media queries */

 /* sm` applies to x-small devices (portrait phones, less than 576px) */ 
 @media (max-width: 575.98px) { 
     .logo{
        width: 40px;
        height: 40px;
    }
    .btnBucket.onSmallScreen{
        display: block;
    }
    .categoryImg {
        height: 80px !important;
        width: 80px !important;
    }
    .bgImage{
        height: 100px !important;
    }
    .card{
        width: 80% !important;
        margin: 0 auto; 
    }
  }
  /* `lg` applies to medium devices (tablets, less than 992px)  */
  @media (max-width: 991.98px) { 
       .logo{
         width: 40px;
         height: 40px;
     }
     .btnBucket.onSmallScreen{
         display: block;
     }
     .categoryImg {
         height: 80px !important;
         width: 80px !important;
     }
     .bgImage{
         height: 100px !important;
     }
     
   }
  
