/* Header.css */
:root {
  --primary-color: #1f1a17;
  --secondary-color: #e5be69; /* New secondary color for hover and active states */
}

/* ... Rest of the CSS rules ... */
.logo {
  width: 60px;
  height: 60px;
}

.btnSignIn {
  background-color: var(
    --secondary-color
  ); /* Use the secondary color as the background */
  color: var(--primary-color);
  border-radius: 20px; /* Set border radius to 20px */
}

.btnSignIn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transform: scale(1.05); /* Apply scale transformation on hover */
}

.btnSignIn:active {
  background-color: rgba(
    229,
    190,
    105,
    0.1
  ) !important; /* New background color for active state */
  color: #f1f8f9 !important;
  border-color: var(--secondary-color) !important;
  transform: scale(0.95); /* Apply scale transformation on active press */
}

.btnDelivery {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

.btnPickUp {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-color: var(--secondary-color) !important;
  color: var(--secondary-color) !important;
}

.btn-check + .btn:hover {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
  transform: translateX(
    2px
  ); /* Apply transfrom transformation on hover for radio buttons */
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
  transform: translateX(
    1px
  ); /* Apply translate transformation on active press for radio buttons */
}

.navbar-toggler-icon {
  filter: invert(1);
}
.btnBucket {
  transition: 0.4s all ease;
}
.btnBucket:hover {
  -webkit-transform: translateY(-0.2rem) !important;
  transform: translateY(-0.2rem) !important;
}
.btnBucket.onSmallScreen {
  display: none;
}

/* media queries */

/* sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .btnBucket.onSmallScreen {
    display: block;
  }
  .categoryImg {
    height: 80px !important;
    width: 80px !important;
  }
  .bgImage {
    height: 100px !important;
  }
  .card {
    width: 80% !important;
    margin: 0 auto;
  }
}
/* `lg` applies to medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .btnBucket.onSmallScreen {
    display: block;
  }
  .categoryImg {
    height: 80px !important;
    width: 80px !important;
  }
  .bgImage {
    height: 100px !important;
  }
}
