/* CategorySlider.css */
.category-buttons-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
}

.category-buttons-container {
  display: flex;
  white-space: nowrap;
}

.category-button {
  margin: 10px;
  padding: 15px 28px;
  background-color: #ab783e;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.category-button:hover {
  background-color: #1f1a17; /* A slightly darker shade on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.category-button:active {
  background-color: #1f1a17; /* A darker shade on active press */
  transform: scale(0.95); /* Slightly decrease size on active press */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on active press */
}

/* Adjust the size of buttons and margins for different screen sizes */
@media screen and (max-width: 767px) {
  .category-button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .category-button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
